<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Генерация ПМ</title>
</head>
<body>
    <div id="app">
        <table>
            <thead>
                <tr>
                    <th v-for="nameAttribute in nameAttributes">{{ nameAttribute }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="info-char" v-if="infoChar" colspan="6">Характеристки сгенерируются после нажатия кнопки</td>
                    <td v-for="(randomAtribute, index) in randomAtributes">{{ randomAtribute }}
                        <span class="modifiers"> (<span v-if="modifiersAttributes[index] > 0">+</span>{{ modifiersAttributes[index] }})</span></td>                    
                </tr>
            </tbody>
        </table>
        <button @click="gen">Сгенерировать!</button>
    </div>

    <script src="main.js"></script>
</body>
</html>